<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>添加单品到购物车</string>
		<key>url</key>
		<string>/Cart/addToCart</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
			<key>product_id</key>
			<string>10705</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>获取地址列表</string>
		<key>url</key>
		<string>/Address/getList</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
			<key>page_size</key>
			<string>20</string>
			<key>page</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>获取购物车单品数量</string>
		<key>url</key>
		<string>/Cart/GetAppCartNums</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>我的全部订单列表</string>
		<key>url</key>
		<string>/OrderInfo/listsApi</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>我的购物车接口</string>
		<key>url</key>
		<string>/Cart/ChooseProductCart</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>我的订单各种数量</string>
		<key>url</key>
		<string>/Member/index/session_id</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>单品页接口</string>
		<key>url</key>
		<string>/Product/getProductDetail</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
			<key>product_id</key>
			<string>11013</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>首页接口</string>
		<key>url</key>
		<string>/Home/newindex</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>session_id</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>用户登录接口</string>
		<key>url</key>
		<string>/Member/Login</string>
		<key>method</key>
		<string>post</string>
		<key>body</key>
		<dict>
			<key>username</key>
			<string>18101074607</string>
			<key>password</key>
			<string>781001</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>匿名请求Session</string>
		<key>url</key>
		<string>/Member/AnonymityGetSession</string>
		<key>method</key>
		<string>get</string>
	</dict>
</array>
</plist>
